<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :winner %><br>
    <%= f.collection_select :winner, User.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :loser %><br>
    <%= f.collection_select :loser, User.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :value, "Wager Amount" %><br>
    <%= f.number_field :value %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", {class: "btn"} %>
  </div>
<% end %>
