<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Bet Information</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Winner: <%= link_to @bet.winning_user.name, @bet.winning_user %></td>
      </tr>
      <tr>
        <td>Loser: <%= link_to @bet.losing_user.name, @bet.losing_user %></td>
      </tr>
      <tr>
        <td>Wager Amount: <%= @bet.value %></td>
      </tr>
      <tr>
        <td>Description: <%= @bet.description %></td>
      </tr>


  </tbody>
</table>

<%= link_to 'Back', bets_path %>
