<p id="notice"><%= notice %></p>

  <%= display_name @user %>
  <%= display_total_value @user %>

<table class="table">
  <thead>
    <tr>
      <th>Bets Won</th>
    </tr>
  </thead>

  <tbody>
    <% @user.bets_won.each do |bet| %>
      <tr>
        <td><%= link_to bet.summary, bet %></td>
      </tr>
    <% end %>

    <% if @user.bets_won.count == 0 %>
    <tr><td>None Yet</td></tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Bets Lost</th>
    </tr>
  </thead>

  <tbody>
    <% @user.bets_lost.each do |bet| %>
      <tr>
        <td><%= link_to bet.summary, bet %></td>
      </tr>
    <% end %>

    <% if @user.bets_lost.count == 0 %>
    <tr><td>None Yet</td></tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user), {class: 'btn'} %>
<%= link_to 'Back', users_path, {class: 'btn'} %>
